* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background-color: #181A1B;
  color: var(--main-white);
  flex-direction: row;
}

:root {
  --main-font-family: 'Times New Roman', Times, serif;
  --writingbox-width: 60%;
  --main-white: lightgray;
}

body {
  padding-left: 4%;
  line-height: 1.4;
  font-size: 20pt;
  font-family: var(--main-font-family);
  display: inline-block;
  padding-top: 70px;
}

/* tools */
.show-whitespace {
  white-space: pre-wrap;
}

/* navbar css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-links {
  display: flex; 
  flex-direction: row;
  padding-top: 1.25%;
  list-style-type: none;
  
}

.nav-links li {
  padding-left: 4%;
}

.nav-links a {
  text-decoration: none;
  font-size: 20pt;
}


/*pages css*/
#info{
  left: calc(var(--writingbox-width) + 5%);
  top: 30%;
  width: calc(90% - var(--writingbox-width));  
  border: 1px dashed var(--main-white);
  position: fixed;
  padding: 10px;
  border-radius: 10px;
}

.story-box{
  width: var(--writingbox-width);
}

.poem-box {
  box-sizing: border-box;
}

.title {
  font-size: 24pt;
  font-style: italic;
  padding-bottom: 15px;
}

.writing {
  font-size: 18pt;
}

.annotated {
  border-bottom: 1px dashed var(--main-white);
}

.code {
  font-size: 15pt;
  font-family: monospace;
  tab-size: 3;
}