* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background-color: #181A1B;
  color: lightgray;
}

:root {
  --main-font-family: 'Times New Roman', Times, serif;
}

body {
  padding-left: 4%;
  line-height: 1.4;
  font-size: 20pt;
  font-family: var(--main-font-family);
  display: inline-block;
  padding-top: 70px;
}

/* tools */
.show-whitespace {
  white-space: pre-wrap;
}

/* navbar css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-links {
  display: flex; 
  flex-direction: row;
  padding-top: 1.25%;
  list-style-type: none;
  
}

.nav-links li {
  padding-left: 4%;
}

.nav-links a {
  text-decoration: none;
  font-size: 20pt;
}


/*pages css*/
.story-box{
  width: 60%;
}

.poem-box {
  box-sizing: border-box;
}

.title {
  font-size: 24pt;
  font-style: italic;
  padding-bottom: 15px;
}

.writing {
  font-size: 20pt;
}

.info {
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 5; /* Stay at the top */
  left: 100px;
  overflow-x: hidden; /* Disable horizontal scroll */
}